<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
  У даному слові потрібно перевірити, чи йде один символ відразу за іншим. 
</p>

<p> Випадки, яких слід очікувати, вирішуючи цю проблему:</p>

<ul>
     <li> одного із символів немає у даному слові - твоя функція повинна повертати <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>;</li>
     <li> будь-який символ з'являється у слові більше одного разу - використовуй лише перший;</li>
     <li> шукані символи однакові - твоя функція повинна повертати <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>; </li>
     <li> умова враховує регістр, що означає, що «а» та «А» - це два різні символи.</li> 
</ul>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Три аргументи. Перший - це заданий рядок, другий - символ, який повинен йти першим, а третій - символ, який повинен йти після першого.
</p>

<p>
    <strong>Вихідні дані:</strong> Логічне (булеве) значення.
</p>

<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
