<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Dans un mot donné, vous devez vérifier si un symbole se place uniquement à droite après un autre.
</p>

<p> Voici les cas auxquels vous devez vous attendre lorsque vous relevez ce défi:</p>

<ul>
    <li>l'un des symboles ne figure pas dans le mot donné - votre fonction doit renvoyer <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>;</li>
    <li>un symbole apparaît plus d'une fois dans un mot - n'utilisez que le premier;</li>
    <li>deux symboles sont identiques - votre fonction doit renvoyer <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>;</li>
    <li>la condition est sensible à la casse, ce qui signifie que "a" et "A" sont deux symboles différents.</li>
</ul>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}goes-right-after.png" alt="example" style="max-height: 200px"/>
</p>
<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Trois arguments. Le premier est une <span>chaîne de caractères</span> donnée <span>(string)</span>, le deuxième est un symbole qui doit être placé en premier et le troisième est un symbole qui doit être placé après le premier.
</p>

<p>
   <strong>Résultat:</strong> A {% if is_js %}<span>booléen</span> <span>(boolean)</span>{% else %}<span>booléen</span> <span>(bool){% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

