<!-- Describe task in general -->

<p>
    W danym słowie należy sprawdzić, czy jeden symbol występuje bezpośrednio po drugim.
</p>

<p> Przypadki, których należy się spodziewać podczas rozwiązywania tego zadania:</p>

<ul>
    <li>jeden z symboli nie występuje w podanym słowie - Państwa funkcja powinna zwrócić <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>;</li>
    <li>dowolny symbol występuje w słowie więcej niż jeden raz - proszę użyć tylko pierwszego;</li>
    <li>dwa symbole są takie same - funkcja powinna zwrócić <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>;</li>
    <li>warunek uwzględnia wielkość liter, co oznacza, że "a" i "A" to dwa różne symbole.</li>
</ul>

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Trzy argumenty. Pierwszy to podany ciąg znaków <span>(str{% if is_js %}ing{% endif %})</span>, drugi to symbol <span>(str{% if is_js %}ing{% endif %})</span> który powinien pojawić się jako pierwszy, a trzeci to symbol <span>(str{% if is_js %}ing{% endif %})</span> który powinien pojawić się po pierwszym.
</p>

<p>
   <strong>Wyjście:</strong> Wartość logiczna <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

